@model RecordItems.Models.Order

@{
    ViewBag.Title = "Сделать заказ";
}

<h2>Сделать заказ</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Заполните форму</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.User, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="User" class="form-control col-md-10">
                    <option class="form-group" value="-1" selected>Выберите ... </option>
                    @foreach (var order in ((List<RecordItems.Models.User>)ViewBag.Message)) {
                        <option value=" @Html.DisplayFor(modelOrder => order.Id)">
                            @Html.DisplayFor(modelOrder => order.Name)
                        </option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.User, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Item" class="form-control col-md-10">
                    <option class="form-group" value="-1" selected>Выберите ... </option>
                    @foreach (var order in ((List<RecordItems.Models.Item>)ViewBag.Item)) {
                        <option value=" @Html.DisplayFor(modelOrder => order.Id)">
                            @Html.DisplayFor(modelOrder => order.Name)
                        </option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Item, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Count, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться к истории заказов", "IndexCustom")
</div>